.cards{
  margin: 40px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 1470px;
}
.card__items{
  margin-bottom: 55px;
  font-size: 56px;
}
.pagination{
  margin: 60px;
}